/* CSSTerm.com Simple CSS login form */

.login { 
	height:110px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}

.login input { 
	padding:5px;
	margin:5px
 }
 
 .bgimg {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
 .bgimg {
	background-image: url('Resource\\Login_BG.jpg')
}