/* Definição de estilos para toda a tabela*/
.tabela {
	border: 1px solid #ff0000;            
	border-collapse:collapse;
	width: 800px;
}

/* Definição de estilos para linha de cabeçalho da tabela*/
.cabecalho {
	padding: 10px;
	text-align: center;
	font: 11px Arial, sans-serif;
	font-weight: bold;
	color: Snow;
	background: #404040;
}

/* Definição de estilos para coluna */
.primeiro {
	text-align: center;
	font: 11px Arial, sans-serif;
	background: #c0c0c0;
}

/* Definição de estilos para coluna */
.ultimo {
	font: 11px Arial, sans-serif;
	text-align: center;
	background: #808080;
}