/* CSSTerm.com Simple CSS login form */
.alerta {
	color: red;
}
.login { 
	height:110px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}

.login input { 
	padding:5px;
	margin:5px
 }
 
.bgimg {
	color: white;
	min-height: 50%;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 2000px;
	background-image: url("#{resource['img/Login_BG.jpg']}");
}
